
.container{
    // flex: 1;
    // justify-content: center;
    // align-items: center;
}

.logo{
    height: 32px;
    align-self: center;
    resize-mode: contain;
    margin-top: 35px;

}

.display{
    display: none;
}