
.container{
    flex: 1;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.form{
    align-self: stretch;
    padding: 30px;
    margin-top: 30px;
}

.label{
    font-weight: bold;
    color: #444;
    margin-bottom: 8px;
}

.input{
    border: 1px solid #444;
    font-size: 16px;
    color: #444;
    height: 44px;
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 14px;
}

.button{
    height: 42px;
    background-color: #f05a5b;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: 15px;
}

.buttonText{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.subtitulo{
    font-size: 12px;
    color: #999;
}